<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <connectionStrings>
    <add name="ThesisDbContext" connectionString="Server=ILZ1-LHP-K50323;Database=ThesisDatabase;Trusted_Connection=True;" providerName="System.Data.CData.MongoDB" />
  </connectionStrings>
</configuration>