@{
    ViewBag.Title = "About";
}

<div class="contactsTile">
    <div class="contact-label">
        @ViewBag.Title
    </div>
    <div class="row">
        <div class="col">
           Miesto pre slovensky abstrakt diplomovej prace
        </div>
        <div class="col">
            Place for an english abstract of diploma thesis
        </div>
    </div>
</div>