@{
    ViewBag.Title = "Contacts";
}


<div class="contactsTile">
    <div class="contact-label">
        @ViewBag.Title
    </div>
        <div class="row">
            <div class="col">
                <address>
                    <strong>Author:</strong> Veronika Uhrova<br />
                    <strong>Login:</strong>UHR0019<br />
                </address>
            </div>
            <div class="col">
                <address>
                    <strong>Support:</strong> <a href="mailto:uhr0019@vsb.cz">UHR0019@vsb.cz</a><br />
                </address>
            </div>
        </div>
</div>