@{
    ViewBag.Title = "Home Page";
}

<div class="container-fluid">
    <div class="container-tiles">
        <div class="row">
            <div class="col-sm-2">
                <a class="tile-link" href="/TeamMembersEmailGraphs/Index">
                    <div class="tile">
                        <i class="fas fa-users fa-3x"></i>
                        <h3 class="title">
                            Explore Team Members Emails
                        </h3>
                    </div>
                </a>
            </div>
            <div class="col-sm-2">
                <a href="#">
                    <div class="tile">
                        <h3 class="title">
                            First Tile
                        </h3>
                    </div>
                </a>
            </div>
            <div class="col-sm-2">
                <a href="#">
                    <div class="tile">
                        <h3 class="title">
                            First Tile
                        </h3>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>


