@{
    Layout = null;
}
@model Thesis.Web.Models.GraphViewModel

<label class="top-ten-brokerage-label">MOST USED EMAIL DOMAINS</label>
<div id="pie_chartContainer" class="pie-chart-container" style="height: 370px; width: 100%;"></div>

<script>

    $(document).ready(function() {

        var chart = new CanvasJS.Chart("pie_chartContainer",
            {
                theme: "light1", // "light1", "light2", "dark1", "dark2"
                animationEnabled: true,
                data: [
                    {
                        type: "pie",
                        startAngle: 25,
                        toolTipContent: "<b>{label}</b>: {y}%",
                        showInLegend: "true",
                        legendText: "{label}",
                        indexLabelFontSize: 16,
                        indexLabel: "{label} - {y}%",
                        dataPoints: @Html.Raw(Json.Encode(Model.EmailDomains))
                    }
                ]
            });
        chart.render();

    });
  
</script>