@using Thesis.Web.Models

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model GraphViewModel

<div class="container-graph">
    @if (Model.FileImported == false)
    {
        <div class="form-group">
            @Html.DropDownListFor(m => m.SelectedTeamMemberId, new SelectList(Model.TeamMembers, "Id", "Name", 1), new {@class = "form-control", id = "teamMembersDropdown"})
        </div>
    }
    <div id="graphView_Partial_Id">@Html.Partial("~/Views/TeamMembersEmailGraphs/GraphView_partial.cshtml")</div>
</div>


<script type="text/javascript">
    $(document).ready(function () {

        $("#teamMembersDropdown").change(function (e) {
            blockUI();

            var data = JSON.stringify({
                'model': @Html.Raw(Json.Encode(@Model)),
                'teamMemberId': $("#teamMembersDropdown").find(":selected").val()
            });

            e.preventDefault();
            $.ajax({
                url: "@Url.Action("GetSelectedValue", "TeamMembersEmailGraphs")",
                data: data,
                datatype: "json",
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                success: function (partialView) {
                    $('#graphView_Partial_Id').html(partialView);
                    unblockUI();
                },
                error: function (xhr, data) {
                    toastr.error(xhr.statusText, "Error", {
                        "timeOut": "0",
                        "extendedTimeout": "0"
                    });
                    unblockUI();
                }
            });
            return false;
    });
    });
</script>


