@using Thesis.Web.Models

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Thesis.Web.Models.GraphViewModel

<div class="container-graph">
    @if (Model.FileImported == false)
    {
        <div class="form-group">
            @Html.DropDownListFor(m => m.SelectedTeamMemberId, new SelectList(Model.TeamMembers, "Id", "Name", 1), new {@class = "form-control", id = "teamMembersDropdown"})
        </div>
    }
    <div class="row">
        <div class="col-sm-12">
            <div class="col-md-4 col-md-offset-2 mydatepicker ">
                <input type="text" id="daterange" class="form-control datepicker-input">
                <i class="datepicker-icon glyphicon glyphicon-calendar fa fa-calendar"></i>
            </div>
        </div>
    </div>
    <div id="graphView_Partial_Id">@Html.Partial("~/Views/TeamMembersEmailGraphs/GraphView_partial.cshtml")</div>
</div>


<script type="text/javascript">
    $(document).ready(function () {


        $('#daterange').daterangepicker({
            "autoApply": true,
            "startDate": "03/22/2018",
            "endDate": "03/28/2018"
        });

        $("#teamMembersDropdown").change(function (e) {
            blockUI();
            e.preventDefault();
            var teamMemberId = $(this).find(":selected").val();
            var selectid = { "teamMemberId": teamMemberId };
            $.ajax({
                async: true,
                url: "@Url.Action("GetSelectedValue", "TeamMembersEmailGraphs")",
                data: JSON.stringify(selectid),
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                success: function (partialView) {
                    $('#graphView_Partial_Id').html(partialView);
                    unblockUI();
                }
            });
            return false;
        });
    });
</script>


