@model Thesis.Web.Models.TeamMemberViewModel

<div class="graph-network" id="mynetwork">
        
</div>


<script type="text/javascript">
    $(document).ready(function () {

        $.ajax({
            url: '@Url.Action("Index", "TeamMembersEmailGraphs")',
            datatype: 'json', 
            type: "GET",
            success: GraphVis,
            error: OnError
        });

        function GraphVis(response) {
            var nodes = @Html.Raw(Json.Encode(Model.visGraphViewModel.nodes));
            var edges =  @Html.Raw(Json.Encode(Model.visGraphViewModel.edges));

            // create an array with nodes
            //var nodes = new vis.DataSet(response.nodes);

            // create an array with edges
            //var edges = new vis.DataSet(response.edges);

            // create a network
            var container = document.getElementById('mynetwork');

            // provide the data in the vis format
            var data = {
                nodes: nodes,
                edges: edges
            };
            var options = {
                nodes: {
                    shape: 'dot',
                    size: 10,
                    borderWidth: 1
                },

                interaction: { hover: false }
            };
            // initialize your network!
            var network = new vis.Network(container, data, options);
        }
        function OnError() {
            alert("Error !");
        }
    })
</script>
