<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="GLEmailsDatabase" connectionString="Server=(localdb)\mssqllocaldb;Database=ThesisDatabase;Integrated Security=true;" providerName="System.Data.SqlClient" />
    <add name="GLEmailsDatabaseVeronika" connectionString="Server=(localdb)\mssqllocaldb;Database=ThesisVeronikaNetwork;Integrated Security=true;" providerName="System.Data.SqlClient" />
    <add name="GLEmailsDatabaseTibor" connectionString="Server=(localdb)\mssqllocaldb;Database=ThesisTiborNetwork;Integrated Security=true;" providerName="System.Data.SqlClient" />
    <add name="GLEmailsDatabaseAndrej" connectionString="Server=(localdb)\mssqllocaldb;Database=ThesisAndrejPNetwork;Integrated Security=true;" providerName="System.Data.SqlClient" />
    <add name="GLEmailsDatabaseAdo" connectionString="Server=(localdb)\mssqllocaldb;Database=ThesisAndrejMNetwork;Integrated Security=true;" providerName="System.Data.SqlClient" />
    <add name="ThesisImportDatabase" connectionString="Server=(localdb)\mssqllocaldb;Database=ThesisImportDatabase;Integrated Security=true;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>