/*colors*/
$color_purple: #5133AB;
$color_red: #AC193D;
$color_orange: #DC572E;
$color_green: #00A600;
$color_blue: #2672EC;
$color_tile: #F2F2F2;
$color_tile_darker: #a8a8a8;
$color_tile_lighter: #d7d7d7;
$color_text:#484848;
$color_tile_blue:#879aac;
$color_nav: #721549;
$color_tile_title: #424242;
$color_icon: $color_nav;
$color_network_background: #f6f6f6;
$color_node: #f5cbee;
$color_xml_import: #fcfcfc;
$color_xml_import_border: #e2e2e2;
$color_xml_import_label: #646464;

/*fonts*/
$base_font_size: 14px;
$base_font: normal normal normal 18px/1.4em 'playfair display',serif;